<h1>About Me</h1>

<div class
<div class="row">
  <div class="column col-sm-9 col-md-9 col-log-9">
    <p>I'm a web developer that enjoys learning something new every day. Seeing an app come to life gets me every time - from the planning stages to making final adjustments, I love how much creativity and exploration are involved in the process. </p>
    <p>After college, curiosity led me to live abroad for four years, in both Europe and Asia. This was an eye-opening period in my life, and has made me more independent, resourceful and insightful.</p>
    <p>I began exploring web development and tinkering with Ruby while working in online marketing. I enjoy using creativity and logic to solve problems, and love that web development empowers me to do this. At a crossroads after returning to the United States, I decided to make the jump into web development. A few months ago I immersed myself in full-stack web development through Dev Bootcamp's program and committed myself to becoming a more empathetic and open colleague.</p>
  </div>
</div>