<div class="eight wide column">
    <h1>About Me</h1>
    <p> I wake up everyday excited to code. A builder by nature, I love how much creativity and exploration are involved in the application development process. </p>
    <p>After college, curiosity led me to live abroad for four years, in both Europe and Asia. This was an eye-opening period in my life, and has made me more independent, resourceful and insightful.</p>
    <p>I began exploring web development and tinkering with Ruby while working in online marketing. I enjoy using creativity and logic to solve problems, and love that web development empowers me to do this. At a crossroads after returning to the United States, I decided to make the jump into web development. Having recently finished Dev Bootcamp's immersive full-stack web development program, I'm eager to take on new challenges. </p>
</div>

<div class="eight wide column">
  <%= image_tag("about_me.jpg", id: "about-image")%>
</div>


