<div class="row"><h1>My Projects</h1></div>
<div class="five wide column">
  <div class="project-info">
    <h3>Twitter Guessing Game</h3>
    <p>In "Tweety", you must guess which famous person tweeted a given tweet. Choose from different categories, including politicians, musicians and actors. Tweets are fetched live each time you play the game.</p>
    <p>Utilizes: Ruby, Sinatra, JavaScript, jQuery, Twitter Streaming API, Materialize CSS</p>
    <a href="https://github.com/shawndav/tweety" target="_blank"><i class="github icon"></i></a>
    <a href="http://guessthattweety.herokuapp.com/" target="_blank"><i class="desktop icon"></i></a>
  </div>
</div>
<div class="five wide column">
  <div class="project-info">
    <h3>DBC Capstone Project: </n> Donation Cat</h3>
    <p>"Donation Cat" was developed as a simple way for you to interact with charitable organizations near you. Users can view wishlists of charities and purchase individual items through Amazon.</p>
    <p>Utilizes: Ruby, Rails, JavaScript, jQuery, Google Maps API, Google Feed API, Nokogiri, Semantic UI</p>
    <a href="https://github.com/shawndav/donation-cat" target="_blank"><i class="github icon"></i></a>
    <a href="http://www.donationcat.com/" target="_blank"><i class="desktop icon"></i></a>
  </div>
</div>
<div class="five wide column">
  <div class="project-info">
    <h3>CodeBreaker</h3>
    <p>A JavaScript version of the classic game "Master Mind". This was a lot of fun to make, and gave me the opportunity to practice with jQuery and object-oriented JavaScript.</p>
    <p>Utilizes: JavaScript, jQuery</p>
    <a href="https://github.com/shawndav/codebreaker" target="_blank"><i class="github icon"></i></a>
    <a href="https://colorful-code-breaker.herokuapp.com/" target="_blank"><i class="desktop icon"></i></a>
  </div>
</div>

