<h1>My Projects</h1>

<div class="ui stackable two column centered grid">
  <div class="column">
    <h3>DBC Capstone Project</h3>
    <p>Donation Cat - Connecting Donors to Charities</p>
    <p>This is a description of Donation Cat. These are the technologies that we used in the creation of Donation Cat. We are so cool.</p>
  </div>


  <div class="column">This other thing</div>
  <div class="column">sdfasgasgsdgsdafg sfdgasgsdfgdfgdfgdfdsfh df fdgs dfhdsfh dsfh df hdh </div>
  <div class="column">df gdfghdfghdf h dsfh df hsd fhds fh dsf hsdfhsdf hsdf hsdfhsdfhds fhsdfhsd fhdf hs fh</div>
  <div class="column">sdfasgasgsdgsdafg sfdgasgsdfgdfgdfgdfdsfh df fdgs dfhdsfh dsfh df hdh </div>
  <div class="column">df gdfghdfghdf h dsfh df hsd fhds fh dsf hsdfhsdf hsdf hsdfhsdfhds fhsdfhsd fhdf hs fh</div>
</div>