/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";


$primary: #24A9C2;
$accent-light: #2FDFFF;
$accent-white: #D8FFFF;
$accent-dark: #000028;

body {
  background-color: white;
  color: $accent-dark;
}

#mainnav {
  background-color: $accent-light;
  height:5%;

  .item{
    color:$accent-dark;
  }
}

#mainfooter{
  height:10%;
  background-color:$accent-dark;
  padding:auto 0px auto 35px;
  a i{
    font-size:20px;
    color:$accent-white;
  }
}

.container{
  padding: 5% 10% 10% 10%;
  min-height:85%;
}

.welcome-message{
  width:50%;
  padding:10%;
  h2{
    font-size:40px;
  }
  h4{
    font-size:20px;
  }
}

.project-info a i{
  color:$accent-dark;
  font-size:18px;
}

#about-image{
  margin:auto;
  width:80%;
  min-width:300px;
  background-size: contain;
}